body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;}

header h1 {
  margin: 0;
  text-align: center;
}

section {
  padding: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

section h2 {
  margin-top: 0;
  text-align: center;
}

section p {
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}
section h3 {
  text-align: center;
}

table {

  width: 100%;
  text-align: center;

}

th.head {
background-color: bisque;
}

td.catag {
background-color: rgb(253, 188, 103);

}

th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}


/* Responsive adjustments */
@media screen and (max-width: 600px) {
  header {
    text-align: center;
  }
  
  .table-container {
    overflow-x: auto;
  }
}