body {
  font-family: "Anek Kannada", sans-serif;  margin: 0;
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0%;
}



header {
  background-color: #ffffff;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-bottom: 0%;
  padding-bottom: 0%;
  padding-top: 0%;
  
}
.header {
align-self: center;


}

header .header img {

  float: left;
  width: 15%;
  height: 15%;
  background: #ffffff;

}

header .header h1 {
  position: center;
  text-align: center;
  top: 18px;
  left: 10px;
  color: black;
  font-size: 5vw;
  margin-bottom: 0%;

  


}
header .header h2 {
  position: center;
  text-align: center;
  left: 10px;
  color: black;
  margin-bottom: 0%;
  font-size: 1.2vw;

}
header .header h3 {
  position: center;
  text-align: center;
  left: 10px;
  color: black;
  margin-bottom: 5%;
  font-size: 0.8vw;
  margin-bottom: 0%;



}

header p{
  color: black;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 1.8vh;
  margin-bottom: 0%;

}



section {
  padding: 20px;
  padding-top: 0%;

}

section h2 {
  text-align: center;
  color: black;
  margin-bottom: 0%;


}

section p {
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  font-size: 20px;
}
section h3 {
  text-align: center;
  color: black;

}

table {

  width: 100%;
  text-align: center;


}
table {border-collapse: collapse;}


th.head {
background-color: rgb(255, 150, 51);
}

td.catag {
background-color: rgba(253, 188, 103, 0.815);

}

td.catagi {
  background-color: rgba(253, 188, 103, 0.815);
  
  }

th, td {
  padding: 5px;
  text-align: left;
  border: solid .5px;
  border-color: rgb(156, 156, 156);


  font-size: 1.5vw;
  border-collapse: separate;
  
}

footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}


